.cambio:hover{
    background-color: aqua;
}
.cambio{
    background-color: rgb(111, 159, 247);
}
html{
    overflow-x: hidden;
}
@media only screen and (min-width: 480px) {

    .contact{
        width:400px;
    }
  };
